* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

h2 {
  background: url("./img/flowers.avif") 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: 1px;
}

main {
  background-color: red;
}
